.news-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.news-slider::-webkit-scrollbar {
  height: 8px;
}

.news-slider::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 50px;
}

.news-card {
  min-width: 320px;
  border-radius: 20px;
  transition: 0.3s;
  flex-shrink: 0;
}

.news-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12) !important;
}

.news-card h5 {
  line-height: 1.5;
}

.news-card p {
  font-size: 15px;
}
